@import '@/app/styles/vars';

.card {
  @extend %card;
  text-align: center;

  .title {
    margin-bottom: 21px;
  }

  .photoContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    .containerInner {
      position: relative;

      .image {
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }

      .button {
        padding: 0;
        margin: 0;
        position: absolute;
        right: 0;
        bottom: 0;
        border-radius: 50%;
      }
    }
  }

  .name {
    color: var(--Light-100, #FFF);
    width: 100%;

    .profileName {
      width: 100%;
    }
  }

  .saveChanges {
    margin-top: 20px;
    max-width: inherit;
    padding: 6px;
    width: inherit;
    box-sizing: border-box;
  }

  .email {
    cursor: pointer;
    color: var(--Dark-100, #808080);
    margin-bottom: 13px;
  }
}