@import '@/app/styles/vars';

.cardContainer {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;

  .card {
    @extend %card;
    text-align: center;

    .title {
      margin-bottom: 21px;
    }

    .photoContainer {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;

      .containerInner {
        position: relative;
        margin: 0;
        padding: 0;

        .avatar {
        }

        .editAvatarButton {
          all: unset;

          cursor: pointer;

          position: absolute;
          right: 0;
          bottom: 7%;

          border-radius: 50%;
          background-color: var(--color-dark-300);
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .nameContainer {
      color: var(--Light-100, #FFF);
      width: 100%;
      cursor: pointer;
      .name {
        align-items: center;
        display: flex;
        justify-content: center;
        .editNickName{
          cursor: pointer;
        }
      }

      .profileName {
        width: 100%;
      }
    }

    .saveChanges {
      margin-top: 20px;
      max-width: inherit;
      padding: 6px;
      width: inherit;
      box-sizing: border-box;
    }

    .email {
      //cursor: pointer;
      color: var(--Dark-100, #808080);
      margin-bottom: 13px;
    }
  }
}