@import '@/styles/vars';
.card {
  @extend %card;
  padding: 33px 36px 60px;
  .title{
    text-align: center;
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 19px;

    width: 100%;
    margin-top: 51px;
    .createPassword {
      color: var(--Light-900, #C3C1C7);
      margin-bottom: 22px;
    }
  }
}