@import '@/app/styles/vars';

.card {
  @extend %card;
  display: flex;
  flex-direction: column;

  .title {
    color: var(--color-light-100, #fff);
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 24px;

    width: 100%;
    margin-bottom: 12px;

    .button {
      margin-top: 46px;
    }

    .recoveryPassword {
      text-align: end;
    }
  }

  .dontHaveAnAccount {
    text-align: center;
    color: var(--color-light-900, #C3C1C7);
  }

  .signUp {
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-bold);
    text-decoration-line: underline;
  }
}