.separator {
  position: absolute;
  top: 17%;
  left: 0;
  background: var(--color-dark-500);
  width: 100%;
  height: 2px;
}
.editPhoto{
  align-self: center;
}
.deckImg{
  width: 100%;
  object-fit: contain;
  height: 7.4375rem;
  padding: 1.5rem 0;
}