.root {
  display: flex;
  gap: 25px;
  align-items: center;
}

.container {
  display: flex;
  gap: 12px;
  list-style-type: none;
}

@mixin item {
  all: unset;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;

  color: white;

  border-radius: var(--border-radius-s);
}

.item {
  @include item;

  cursor: pointer;

  &:disabled {
    cursor: initial;
    opacity: 1;
  }

  &:focus-visible {
    outline: var(--color-outline);
  }

  &:hover:not(&:disabled) {
    background-color: var(--color-dark-500);
  }

  &.selected {
    color: var(--color-dark-900);
    background-color: var(--color-light-100);
    border-radius: 2px;
  }
}

.dots {
  @include item;
}

.icon {
  .item:disabled & {
    // important because icons have style prop
    color: white !important;
  }
}

.selectBox {
  display: flex;
  gap: 12px;
  align-items: center;
  white-space: nowrap;
}

.select {
  flex-shrink: 0;
  width: 50px;
  padding: 0;
}
